/*
CSS for footer.php
*/

footer ul li a{
	color:white;
	cursor: pointer;
	font-weight: 400;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #2B6A88;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	padding: 45px 50px;
	margin-top: 80px;
}

footer .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

footer p.footer-links{
	font-size:14px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

footer p.footer-links a{
	display:inline-block;
	text-decoration: none;
	color:  inherit;
	padding-right: 15px;
	cursor: pointer;
}

footer p.footer-links a:hover{
	color: #FFB72A;
}

footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #24586d;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

footer .footer-right a:hover{
	background-color: #FFB72A
}

/* Footer media query */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


